main {
    justify-content: center;
}

#outer-container {
    width: 100%;
    /*max-width: 1100px;*/
    padding: 25px;
    box-shadow: #B8B8B9 0 0 5px 0, #cccccc 0 4px 20px 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#outer-container > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#search-bar-container {
    width: 100%;
    display: flex;
}

#search-bar {
    width: 100%;
    outline: none;
    padding: 6px 0 6px 12px;
    border: 1px solid #cfcfcf;
    border-right: none;
    border-radius: 5px 0 0 5px;
}

#search-bar:focus, #search-bar:focus + #search-bar-cross {
    border-color: #8b8b8b;
    background-color: #ededed;
}

#search-bar-cross {
    width: 30px;
    font-size: 1.5em;
    text-align: center;
    border: 1px solid #cfcfcf;
    border-left: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#search-filters-container {
    display: flex;
    justify-content: center;
}

.radio-container {
    margin: 0 20px;
    text-wrap: nowrap;
}

.month {
    font-size: 1.55em;
    padding-top: 30px;
}

.transaction-tile {
    border: 2px solid #dddddd;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 1.33em;
    overflow-x: auto;
    cursor: pointer;
}

.transaction-tile:hover {
    background-color: #efefef;
}

.title {
    font-weight: bold;
}

.date {
    font-size: 0.9em;
}

.amount {
    text-align: right;
}

.index {
    display: none;
}

.info-container {
    margin: 16px 0;
}

.info-content {
    text-align: right;
}
.info-type{
    text-align: left;
}
.pop-up-content{
    max-height: 400px;
    height:45%;
}

@media (max-width: 970px) {
    .pop-up-header {
        font-size: 1.8em;
    }

    #pop-up-text {
        font-size: 1em;
    }

    .close-pop-up {
        font-size: 2.66em;
    }
    .pop-up-content{
        max-height: 350px;
    }
}

@media (max-width: 840px) {
    .pop-up-header {
        font-size: 1.4em;
    }

    #pop-up-content-window {
        padding: 0.5rem !important;
        overflow:auto;
    }

    .close-pop-up {
        right: 11px;
        top: -8px;
    }

    #pop-up-text > .row {
        display: flex;
        flex-direction: column;
    }

    #pop-up-text > .row div {
        text-align: left !important;
        width: 100% !important;
    }

    #pop-up-text > .row .info-content {
        margin-bottom: 10px;
    }
    .pop-up-content{
        max-height: 330px !important;
    }
}

@media screen and (max-width: 450px) {
    #search-bar-container {
        font-size: 1.05em !important;
    }

    #search-filters-container {
        flex-direction: column;
        align-items: center;
    }

    .radio-container {
        margin: 6px 0;
    }

    .close-pop-up {
        font-size: 2.5em;
        top: -10px;
        right: 2px;
    }

    #pop-up-header {
        font-size: 1.75em;
    }
    .pop-up-content{
        max-height: 300px !important;
    }
}

@media screen and (max-width: 350px) {
    #outer-container {
        padding: 13px;
    }

    #outer-container > div {
        margin-top: 0;
        margin-bottom: 0;
    }

    #search-filters-container {
        margin-top: 10px !important;
    }

    .month {
        font-size: 1.33em;
    }

    .transaction-tile {
        font-size: 1.1em;
        padding: 13px;
    }
}
