main {
    justify-content: center;
}

#outer-container {
    width: 100%;
    max-width: 750px;
    padding: 25px;
    box-shadow: #B8B8B9 0 0 5px 0, #cccccc 0 4px 20px 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#outer-container > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#search-bar-container {
    width: 100%;
    display: flex;
}

#search-bar {
    width: 100%;
    outline: none;
    padding: 6px 0 6px 12px;
    border: 1px solid #cfcfcf;
    border-right: none;
    border-radius: 5px 0 0 5px;
}

#search-bar:focus, #search-bar:focus + #search-bar-cross {
    border-color: #8b8b8b;
    background-color: #ededed;
}

#search-bar-cross {
    width: 30px;
    font-size: 1.5em;
    text-align: center;
    border: 1px solid #cfcfcf;
    border-left: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#search-filters-container {
    display: flex;
    justify-content: center;
}

.radio-container {
    margin: 0 20px;
    text-wrap: nowrap;
}

.month {
    font-size: 1.55em;
    padding-top: 30px;
}

.transaction-tile {
    border: 2px solid #dddddd;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 1.33em;
    overflow-x: auto;
}

.transaction-tile:hover {
    background-color: #efefef;
}

.title {
    font-weight: bold;
}

.date {
    font-size: 0.9em;
}

.amount {
    text-align: right;
}

.index {
    display: none;
}

.t-pop-up {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 110;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.t-pop-up-content {
    background-color: white;
    width: 90%;
    max-width: 700px;
    height: 40%;
    max-height: 350px;
    min-height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.close-t-pop-up {
    color: #71a6db;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: -12px;
    font-size: 3em;
    font-weight: bold;
    padding: 0 5px;
    z-index: 5;
}

#t-pop-up-title {
    font-size: 2.25em;
    margin: 10px 0;
}

#t-pop-up-text {
    overflow: auto;
    padding: 0 10px;
}

.info-container {
    margin: 16px 0;
}

.info-content {
    font-size: 1.33em;
}

@media screen and (max-width: 450px) {
    #search-bar-container {
        font-size: 1.05em !important;
    }

    #search-filters-container {
        flex-direction: column;
        align-items: center;
    }

    .radio-container {
        margin: 6px 0;
    }

    .close-t-pop-up {
        font-size: 2.5em;
        top: -10px;
        right: 2px;
    }

    #t-pop-up-title {
        font-size: 1.75em;
    }
}

@media screen and (max-width: 350px) {
    #outer-container {
        padding: 13px;
    }

    #outer-container > div {
        margin-top: 0;
        margin-bottom: 0;
    }

    #search-filters-container {
        margin-top: 10px !important;
    }

    .month {
        font-size: 1.33em;
    }

    .transaction-tile {
        font-size: 1.1em;
        padding: 13px;
    }
}
