.left-column {
    flex: 0.6;
    display: flex;
    flex-direction: column;
}

.ticket-left-column-element {
    text-align: left;
    line-height: 1.8;
}


.right-column {
    flex: 0.4;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.first-row {
    text-align: right;
    margin-bottom:10px;

}

.second-row {
    display: flex;
    justify-content: flex-end;
}

.second-row-element{
    margin-left: 52px;
    text-decoration: underline;

}

.second-row-element:hover{
    cursor: pointer;

}

.ticket-information-element {
    display: flex;
    background-color: #eff7ff;
    border: 2px solid #dddddd;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.33em;
    margin-bottom: 60px;
    text-align: center;
}

#ticket-information {
    margin-bottom: 30px;
    position: relative;
}
.ticket-placeholder{
    min-height:73.84px;
}

.pop-up {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 110;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.pop-up-content {
    background-color: white;
    width: 80%;
    max-width: 700px;
    height: 30%;
    min-height: 225px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.close-pop-up {
    cursor: pointer;
    position: absolute;
    right: 35px;
    top: 10px;
    font-size: 3em;
    font-weight: bold;
    color: #71a6db;
}

#pop-up-header {
    font-size: 2.2em;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pop-up-text {
    width: 90%;
    font-size: 1.8em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media screen and (max-width: 1100px) {
    main {
        flex-direction: column;
    }

}

@media screen and (max-width: 613px), (min-width: 851px) and (max-width: 892px){


    .homepage-section {
        padding: 12.5px;
        font-size: 1.0em;
    }

    .ticket-information-element {
        display: block;
    }

    .left-column, .right-column {
        width: 100%;
        display: block;
        padding:0;
    }

    .first-row {
        text-align: left;
        display: block;
        justify-content: initial;
        /*margin-bottom:30px;*/
    }

    .second-row {
        justify-content: initial;
    }

    .second-row-element {
        margin-left: initial;
        margin-right: 30px;
        display: block;
    }

    #pop-up-header{
        font-size: 2.0em;
        top:17%;
    }
    #pop-up-text{
        font-size: 1.7em;
    }

}

@media screen and (max-width: 380px) {
    body{
        font-size: smaller !important;
    }
}

@media screen and (max-width: 302px) {
    body{
        font-size: x-small !important;
    }


}