/* Tu trafia css wspólny dla danych obiektów, np. jak ma być klasa "sekcja" i ona wszędzie ma wyglądać tak samo, to tu wrzucamy */

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif !important;
    /* background-color: #212529; */
}

/* ::-webkit-scrollbar-thumb {
    background: forestgreen;
} */

#curtain {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4) !important;
    position: fixed;
    z-index: 90;
}

.active {
    background-color: #0058db !important;
}

.nav li a {
    margin-bottom: 10px;
    border: 1px solid grey;
}

#navigation {
    position: fixed;
    height: 100%;
    width: 280px;
    z-index: 100;
}

#navigation i {
    margin-right: 5px;
}

#username {
    font-size: 1.5em;
}

#close-navigation-button {
    cursor: pointer;
    font-size: 3em;
    position: absolute;
    right: 25px;
    display: none;
}

#settings-button, #logout-button {
    font-size: 1.25em;
}

#page-header {
    margin-left: 280px;
    padding: 30px 45px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#open-navigation-button {
    font-size: 2em;
    cursor: pointer;
    display: none;
}

#page-header h1 {
    font-size: 2em;
    text-align: center;
    margin: 8px 20px;
}

#page-header img {
    height: 100px;
}

main {
    flex: 1;
    margin-left: 280px;
    padding: 30px 45px;
    display: flex;
}

#page-footer {
    color: white;
    background-color: #27314c;
    padding: 15px;
    margin-left: 280px;
    text-align: center;
}

.blue-button {
    color: white;
    background-color: #0061a1;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.blue-button:hover {
    background-color: #0087eb;
}

@media screen and (max-width: 575px) {
    #page-header {
        flex-direction: column-reverse;
    }

    #page-header, main {
        padding: 15px 22.5px;
    }

    #page-header h1 {
        margin-top: 0.5rem;
    }

    #page-header img {
        margin-bottom: 15px;
    }

    #open-navigation-button {
        position: absolute;
        top: 25px;
        left: 25px;
    }
}

@media screen and (max-width: 850px) {
    #curtain.display {
        display: block;
    }

    #navigation {
        display: none !important;
    }

    #navigation.show {
        display: flex !important;
    }

    #close-navigation-button {
        display: inline;
    }

    #open-navigation-button {
        display: block;
    }

    #page-header, main, #page-footer {
        margin-left: 0
    }

    #page-header img {
        height: 75px;
    }
}
